<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Framework Guru</title>
</head>
<body>
<h1>Authors List</h1>

<table>
    <tr>
        <th>First</th>
        <th>Last</th>
        <th>Books</th>
    </tr>
    <tr th:each="author : ${authors}"><!-- "books" is the name of the attribute we attached int he controller -->
        <td th:text="${author.firstName}">123</td>
        <td th:text="${author.lastName}">Spring in Action</td>
        <td th:text="${author.books.size()}">Wrox</td>
    </tr>
</table>

</body>
</html>